<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1500338427510-5deb175987d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1654&q=80');">>
  <h1>Food Truckr</h1>
</div>

<h2 class="mt-3 row justify-content-center">See Food trucks around you!</h2>

<div class="index container mt-3">
  <div class="cards">
    <div class="row">
    <% @foodtrucks.each do |foodtruck| %>
    <% if foodtruck.photo.present? %>
      <% url = cl_image_path foodtruck.photo, height: 300, width: 300, crop: :fill %>
    <% else %>
      <% url = cl_image_path "generic_l79l58", height: 300, width: 300, crop: :fill %>
    <% end %>
      <div class="col-4">
        <%= link_to food_truck_path(foodtruck) do %>
          <div class="card-category my-2", id="foodtruck-card", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= url %>')">
            <%= foodtruck.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
