<div class="container mb-3" style="width: 600px">
  <div class="text-box" style="width: 600px">
    <h2 class="my-3" style="text-align:center">Create Your Food Truck</h2>
    <%= render 'shared/form' %>
  </div>
</div>
