.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.card-category .reservation_cards {
  font-size: 15px;
}

.card-category .reservation_cards_nay {
  font-size: 15px;
  color: red;
}

.card-category .reservation_cards_npy {
  font-size: 15px;
  color: orange;
}

.card-category .reservation_cards_p {
  font-size: 15px;
  color: green;
}
